:root {
  --main-color: #00c6d7;
  --dark-color:#4B4B4B;
}

.navbar {
  z-index: 5245222;
  background-color: transparent;
  transition: all ease 0.3s;
}

.navbar .navbar-brand {
  color: var(--main-color);
}

.navbar .navbar-nav li a{
  color: #fff;
  transition: all ease 0.3s;
}

.active,
.navbar .navbar-nav li a:hover,
.links a:hover {
  background-color: var(--main-color);
  color: #fff !important;
}

.landing {
  background-image: url(../images/home-bg-slideshow1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.landing .content {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translatey(-50%) translatex(-50%);
}

.title .number{
  color: var(--main-color);
  font-size: 62px;
  font-weight: bolder;
}

.title {
  width: fit-content;
  border-bottom: 1px solid var(--dark-color);
}

.services .card svg {
  color: var(--main-color);
}

.agence {
  background-color: var(--dark-color);
}

.agence .title {
  width: fit-content;
  border-bottom: 1px solid white;
}

.links a {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.3s;
  margin-right: 3px;
}